*Makefile
*.in
*.o
*.la
*.lo

aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
gnunet_search_config.h
install-sh
libtool
ltmain.sh
missing
po/POTFILES
po/gnunet-search.pot
po/remove-potcdate.sed
po/stamp-po
src/search/.deps/
src/search/.libs/
src/search/gnunet-search
src/search/gnunet-service-search
src/search/www/.deps/
src/search/www/index.cgi
stamp-h1
